body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf7e3; /* Светло-жёлтый фон */
    color: #4b0082; /* Фиолетовый текст */
}

header {
    background-color: #4b0082; /* Фиолетовый фон */
    color: #fdf7e3; /* Светло-жёлтый текст */
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 2rem;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem 0;
}

ul a {
    text-decoration: none;
    color: #4b0082; /* Фиолетовый текст */
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    padding: 0.5rem;
    border: 2px solid #4b0082; /* Фиолетовая рамка */
    border-radius: 5px;
    background-color: #fdf7e3; /* Светло-жёлтый фон */
    transition: all 0.3s ease;
}

ul a:hover {
    background-color: #4b0082; /* Фиолетовый фон */
    color: #fdf7e3; /* Светло-жёлтый текст */
    border-color: #fdf7e3; /* Жёлтая рамка */
}
