body {
    font-family: sans-serif;
    background-color: NavajoWhite;
}
h1{
    text-align: center;
    color: Sienna;
    font-size: 40px;
    text-transform: uppercase;
}

p{
    font-size: 23px;
    text-align: left;
    font-family: constantia;
}

img{
    width: 300px;
    height: 450px;
}

h2{
    text-align: center;
    color: Sienna;
    font-size: 40px;
    text-transform: uppercase;
}

a{
    color: SaddleBrown;
    font-size: 25px;
}

h3{
    font-size: 22px;
}
