body {
    font-family: sans-serif;
    background-color: NavajoWhite;
}
h1{
    text-align: center;
    color: Sienna;
    font-size: 40px;
    text-transform: uppercase;
    font-family: PALATINO LINOTYPE;
}

p{
    font-size: 23px;
    text-align: left;
    font-family: palatino linotype;
}

img{
    weight: 300px;
    height: 450px;
}

h2{
    text-align: center;
    color: Sienna;
    font-size: 40px;
    text-transform: uppercase;
     font-family: PALATINO LINOTYPE;
}

a{
    color: SaddleBrown;
    font-size: 25px;
    font-family: map symbols;
    
}

h3{
    font-size: 22px;
    font-family: PALATINO LINOTYPE;
}
